@media (max-width: 1670px) {
  .hero-container {
    gap: 120px;
  }
}
@media (max-width: 1590px) {
  .gradient-card {
    margin: 0px 20px;
  }
  .design-flex {
    padding: 0px 20px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-img {
    padding: 0px 20px;
  }
}
@media (max-width: 1367px) {
  .logo-container {
    gap: 50px;
  }
  .counter-img {
    height: 850px;
  }
  .counter-img .counter-card {
    padding: 40px 60px;
  }
}
@media (max-width: 1200px) {
  .hero-title {
    max-width: 425px;
    font-size: 50px;
  }
  .service-title {
    max-width: 1170px;
    font-size: 60px;
  }
  .logo-container {
    gap: 20px;
  }
  .logo-img {
    padding: 0px;
  }
  .service-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog {
    padding: 0px 0px 80px;
  }
  .service-flex,
  .work-flex,
  .blog-flex {
    padding: 0px 20px;
  }
  .blog-btn {
    font-size: 14px;
  }
  .counter-img {
    height: 700px;
  }
  .blog-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .counter-img .counter-card {
    padding: 30px 25px;
  }
  .counter-card-description {
    max-width: 100%;
    font-size: 14px;
  }
  .counter-span {
    font-size: 40px;
  }
  .stats-detail {
    font-size: 16px;
  }
  .form-flex {
    padding: 0px 30px;
  }
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: 0 auto;
  }
  .input-form-card {
    padding: 20px 35px;
  }
  .contact-form {
    padding: 70px 110px 135px 47px;
  }
  .service-counter-img {
    margin: 0px;
  }
  .about-flex-container {
    padding: 120px 20px;
  }
  .about-flex {
    flex-direction: column;
    gap: 50px;
  }
  .about-step-flex {
    padding: 0px 40px;
    justify-content: stretch;
    gap: 70px;
  }
  .about-step-flex:first-of-type .about-num {
    padding-left: 20px;
  }
  .about-description {
    max-width: 100%;
  }
  .contact-page .contcat-grid {
    padding: 0px 20px;
  }
  .blog-main-heading {
    padding-top: 50px;
  }
  .blogdetail-flex {
    padding: 0px 20px;
  }
  .blog-flex-info-3 {
    padding: 20px 30px;
  }
  .grid-section {
    padding: 120px 20px;
  }
  .contact-page .contcat-grid {
    grid-template-areas:
      "item1 item1 item1 item1 item1 item2 item2 item2 item2 item2"
      "item3 item3 item3 item3 item3 item3 item4 item4 item4 item4";
  }
}
@media (max-width: 1130px) {
  .nav {
    max-width: 450px;
  }
  .nav .ul .li {
    font-size: 14px;
    padding: 8px 12px;
  }
  .flex-right {
    justify-content: center;
  }

  .hero-title {
    max-width: 425px;
    font-size: 40px;
  }
  .hero-content {
    min-width: 400px;
    gap: 48px;
  }
  .hero-description {
    font-size: 16px;
  }
  .hashtag-review {
    font-size: 18px;
  }
  .client-reviews {
    height: 35px;
  }
  .review-txt {
    max-width: 400px;
    font-size: 14px;
  }
  .form-container {
    padding: 100px 0px;
  }
  footer {
    font-size: 14px;
  }
  .copy-right {
    padding: 12px 0px 30px;
  }
}
@media (max-width: 1050px) {
  .contact-page .grid-item-title,
  .contact-page .grid-item-detail {
    font-size: 24px;
  }
  .contact-page .contcat-grid {
    gap: 20px;
  }
  .work-flex,
  .blog-flex {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .blog-btn {
    padding: 10px 40px;
    align-self: start;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .hero-content {
    min-width: 350px;
  }
  .logo-container {
    gap: 50px;
  }
  .main-img {
    padding: 0px 20px;
  }
  .counter-img .counter-card {
    margin: 0px 10px 30px;
  }
  .counter-img .counter-card-title {
    max-width: 285px;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 1.1;
  }
  .test-bg-txt {
    bottom: 25%;
  }
  .blog-main-heading {
    font-size: 40px;
    padding: 50px 0px;
  }
  .blog-flex {
    padding-bottom: 40px;
  }
  .width-container {
    max-width: 750px;
  }
  .work-anchor-btn {
    padding: 4px 50px;
  }
  .blog-anchor-btn {
    padding: 12px 50px;
  }
  .work-btn {
    padding: 14px 40px;
    align-self: start;
  }
  .blog-head {
    font-size: 42px;
  }
  .blogdetail-flex {
    flex-wrap: wrap;
  }
  .blog-flex-info-3 {
    max-width: 375px;
  }
  .form-container {
    padding: 60px 0px;
  }
  .gradient-title {
    font-size: 32px;
  }
  .gradient-description {
    font-size: 16px;
    max-width: 700px;
  }
  .input-form-title,
  .contact-title {
    font-size: 30px;
    line-height: 1.2;
  }
  .work-grid {
    gap: 8px;
  }
  .digital-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-counter-img .counter-card-title {
    margin-bottom: 80px;
    font-size: 32px;
  }
  .design-flex,
  .dev-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-title {
    font-size: 50px;
  }
  .blog-title,
  .process-title,
  .service-heading {
    font-size: 32px;
    max-width: 300px;
  }
  .blog-description {
    font-size: 16px;
  }
  .service-detail {
    max-width: 480px;
  }
  .input-form-card,
  .contact-form {
    padding: 30px 20px;
  }
  .blog-card-title {
    font-size: 20px;
    line-height: 1.2;
    padding: 24px 14px 32px 20px;
  }
  .about-head {
    font-size: 50px;
  }
}
@media (max-width: 960px) {
  .service-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-img {
    width: 400px;
  }
}
@media (max-width: 890px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 890px !important;
    background: #000;
    z-index: 1000;
    padding-top: 55px;
    opacity: 0;
    pointer-events: none;
    border-radius: 0px;
  }

  .nav.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav .ul {
    display: flex !important;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
  }

  .header-btn {
    display: none;
  }
  .nav .li > a {
    pointer-events: none;
  }
  .nav .dropdown {
    position: static !important;
    display: contents !important;
  }
  .nav .dropdown li {
    padding-left: 20px;
    font-size: 16px;
    opacity: 0.9;
  }
  .nav .li {
    font-weight: 600;
  }
  .nav {
    display: none;
  }
  header .btn {
    display: none;
  }
  .logo-container {
    gap: 60px;
  }
  .counter-img .counter-card-title {
    max-width: 380px;
  }
  .counter-img .counter-card-description {
    max-width: 100%;
    line-height: 1.5;
  }
  .flex-counter,
  .process-flex {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .counter-col:after {
    height: 32px;
    right: -1px;
  }
  .service-flex {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .service-detail {
    max-width: 100%;
  }
  .counter-columns {
    gap: 0px;
  }
  .counter-span {
    font-size: 36px;
  }
  .stats-detail {
    font-size: 14px;
  }
  .work-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px;
  }
  .about-flex-container {
    padding: 70px 0px;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
  .blog-card-title {
    max-width: 100%;
  }
  .blog-description {
    max-width: 820px;
  }
  .about-num {
    font-size: 50px;
  }
  .about-step-flex:first-of-type .about-num {
    padding-left: 10px;
  }
  .about-step-card {
    padding: 30px;
    margin-bottom: 100px;
  }
  .about-step {
    margin-bottom: 20px;
  }
  .about-step-description {
    font-size: 16px;
  }
  .about-num::after {
    height: 275px;
    top: 74px;
  }
  .form-flex {
    flex-direction: column;
    gap: 50px;
  }
  .card-design-title {
    font-size: 40px;
  }
  .input-form-card,
  .contact-form {
    border-radius: 20px;
  }
  .design-title {
    padding-top: 100px;
  }
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-head {
    padding-top: 80px;
  }
  .ourwork-page .work {
    padding: 80px 0px;
  }
  .blog-card-img {
    height: 420px;
  }
  .blog-card-title {
    font-size: 28px;
  }
  footer svg {
    height: 14px;
    width: 14px;
  }
}
@media (max-width: 820px) {
  .hero-container {
    gap: 30px;
  }
}
@media (max-width: 786px) {
  .logo-container {
    gap: 80px;
  }
  .header-img,
  .footer-img {
    width: 200px;
  }
  .flex-right {
    justify-content: start;
  }
  .hero-container {
    padding: 20px 30px;
    flex-direction: column;
    /* gap: 50px; */
  }
  .hero-img {
    width: 900px;
    height: 600px;
  }
  .hero-title {
    font-size: 35px;
    max-width: 450px;
  }
  .hero-span {
    border-radius: 0px;
  }
  .hero-description {
    font-size: 14px;
    max-width: 100%;
  }
  .design-title {
    padding: 50px 0px 20px;
  }
  .clients {
    justify-content: center;
  }
  .client-reviews {
    height: 65px;
  }
  .review-txt {
    font-size: 16px;
  }
  .counter-img {
    height: auto;
  }
  .counter-img .counter-card {
    max-width: 726px;
    height: 450px;
    margin: 0px;
    padding: 10px 20px;
  }
  .counter-columns {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .counter-col {
    padding-bottom: 30px;
  }
  .counter-col::after {
    display: none;
  }
  .counter-btn {
    margin-top: 20px;
  }
  .explore-anchor-btn {
    font-size: 14px;
    padding: 14px 30px;
    margin-bottom: 10px;
  }
  .service-title,
  .blog-page .title {
    padding: 20px 0px;
    font-size: 30px;
    max-width: 300px;
  }
  .service-grid-item {
    justify-self: center;
  }
  .service-description {
    font-size: 14px;
    line-height: 1.3;
    max-width: 650px;
  }
  .section-title {
    font-size: 28px;
  }
  .blog-grid,
  .digital-grid,
  .grid-1col {
    grid-template-columns: 1fr;
  }
  .service-grid-col1,
  .service-grid-col2 {
    align-items: center;
  }
  .form-container {
    padding: 15px;
  }
  .form-flex {
    padding: 0px;
  }
  .form-input,
  select {
    width: 100%;
    max-width: 100%;
  }
  .ourwork-page .work {
    padding: 40px 0px 80px;
  }
  .contact-page .title {
    padding: 40px 0px 20px;
  }
  .footer {
    margin-top: 20px;
    padding: 20px 0px 0px;
    border-bottom: none;
  }
  .footer p {
    /* display: block; */
    font-size: 8px;
  }
  .copy-right p,
  .copy-right nav {
    font-size: 8px;
  }
  .copy-right {
    padding: 0px;
  }

  .about-num {
    display: none;
  }
}
@media (max-width: 567px) {
  .hero-title {
    font-size: 24px;
  }
  .logo-container {
    gap: 100px;
  }
  .header-img,
  .footer-img {
    width: 200px;
  }
  .flex-right {
    justify-content: start;
  }
  .hero-content {
    gap: 30px;
  }
  .hero-img {
    width: 700px;
    height: 450px;
  }
  .client-reviews {
    height: 45px;
  }
  .review-txt {
    font-size: 14px;
  }
  .counter-img .counter-card {
    height: 389px;
    padding: 10px;
  }
  .counter-img .counter-card-title {
    font-size: 24px;
  }
  .counter-img .counter-card-description {
    font-size: 14px;
  }
  .explore-anchor-btn {
    font-size: 12px;
    padding: 12px 24px;
  }
  .flex-counter {
    gap: 15px;
  }
  .counter-columns {
    margin-top: 20px;
  }
  .counter-col {
    padding-bottom: 20px;
  }
  .counter-span {
    font-size: 22px;
  }
  .stats-detail {
    font-size: 10px;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .gradient-card {
    padding: 10px 20px;
  }
  .strategy-page .gradient-title,
  .gradient-title {
    font-size: 22px;
    padding: 50px 0px 20px;
  }
  .gradient-description {
    font-size: 12px;
  }

  .gradient-btn,
  .development-page .gradient-btn,
  .digital-page .gradient-btn,
  .strategy-page .gradient-btn {
    font-size: 14px;
    margin: 20px 0px 30px;
    padding: 10px 30px;
  }
  .blog-grid {
    grid-template-columns: 1fr;
    width: fit-content;
    margin: 0 auto;
  }
  .form-container {
    margin: 0px 10px;
  }
  .form-input,
  select {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form-input-btn {
    padding: 8px 15px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .blog-card-img {
    height: 210px;
    margin: 0px;
  }
  .blog-anchor p {
    font-size: 9px;
  }
  .blog-card-title {
    font-size: 20px;
  }
}
